*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background-color: black;
    overflow: hidden;
}

main::after{
    content: "";
    position: fixed;
    min-height: 100vh;
    width: 80vw;
    top: 0;
    left: 0;

    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .character{
    display: none;
    height: 100vh;
}
    
main .character.selected{
    display: block;
}

main .character .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .content{
    position: absolute;
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

main .content .character-name{
    color: white;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-top: 20px;
}

main .content .description{
    color: white;
    font-family: "Rubik";
    line-height: 24px;
}

main .content .logo{
    background-image: url(../images/one-piece-logo.png);
    background-size: cover;
    width: 230px;
    height: 100px;
    margin-top: 35px;
}
